@charset "UTF-8";

body {
  background: url('https://celloguerra.com.br/assets/img/charles-deluvio-OWkXt1ikC5g-unsplash.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  font-family: 'Poppins', sans-serif !important;
}

p{font-size: .8em !important;}
h4 {font-size: 1em !important;}
.btn {margin-bottom: 15px;}
.card-title{font-weight: 700;}