@charset "UTF-8";
body {
  font-family: 'Poppins', sans-serif !important;
}

a {
  color: #f4623a;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #942304;
  text-decoration: none;
}
header.masthead {
  background: url("../assets/img/charles-deluvio-OWkXt1ikC5g-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 40rem;
    padding-bottom: 0;
  }
.card{
  padding: 4rem 3rem;
}

.card-title{
  font-weight: 700;
}