title: Marcelo Guerra - Designer de Negócios Digitais
email: info@celloguerra.com.br
description: >- # this means to ignore newlines until "baseurl:"
  Nos últimos 25 anos, tenho impulsionado dezenas de empresas a alcançar seus objetivos na era digital com estratégias inovadoras e experiências transformadoras.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://celloguerra.com.br" # the base hostname & protocol for your site
twitter_username: celloguerra
github_username: celloguerra

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default.
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
