/*Mídias Sociais para Empreendedoras*/
 a{color:#4a4a4a; text-decoration: underline;}

 body#midias-sociais-empreendedoras {
    background-color: #F9D8DE;
}
#midias-sociais-empreendedoras .hero {
	background-color: #FFF; ;
	background: url('images/pexels-photo.jpeg') no-repeat center center;
  	background-size: cover;
  	padding-bottom: 0;
}
.center {
	text-align: center;
}

.ProfileAvatar {
    background: #fff;
    border: 5px solid #fff;
    position: relative;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
