/*Mídias Sociais para Empreendedoras*/

#midias-sociais-empreendedoras .hero {
	background-color: #E8B9C2; ;
	background: url('images/pexels-photo.jpeg') no-repeat center center;
  	background-size: cover;
  	padding-bottom: 0;

}