@charset "UTF-8";

body {
  background: url('https://celloguerra.com.br/assets/img/charles-deluvio-OWkXt1ikC5g-unsplash.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

h1{font-family: 'Poppins', sans-serif !important;}
p{font-family: 'Lato', sans-serif; font-size: .9em !important;}
h4 {font-family: 'Poppins', sans-serif !important; font-size: 1em !important; margin-bottom: 10px !important;}
.btn {margin-bottom: 15px;}
.card-title{font-weight: 700;}
.card-footer{background-color: transparent !important; border-top: 0;font-size: .9em !important; }